# Implementing Preprocessing using Python Libraries

In [570]:
# Importing Libraries
import numpy as np
import pandas as pd

In [571]:
# Importing Dataset
df =pd.read_excel("brain_stroke.xlsx")

# Separating Features and Output

In [572]:

# Features
X = df.iloc[:, 0:-1].values
# Output
Y =df.iloc[:, -1].values

# Handling Missing Value

In [573]:
from sklearn.impute import SimpleImputer
imputer =SimpleImputer(strategy="mean")
# For int using mean because dataset is large
X[:,[1,7,8]] = imputer.fit_transform(X[:,[1,7,8]])
# For hypertension i will use mode strategy 
imputer =SimpleImputer(strategy="most_frequent")
X[:,[0, 2, 3, 4, 5, 6, 9]]  =imputer.fit_transform(X[:,[0, 2, 3, 4, 5, 6, 9]])
X[0]

array(['Male', 67.0, 0, 1, 'Yes', 'Private', 'Urban', 228.69, 36.6,
       'formerly smoked'], dtype=object)

# Encoding Catagorical Data

In [574]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
obj= ColumnTransformer([("gender", OneHotEncoder(),[0]), ("ever_married", OneHotEncoder(),[4]),("work_type", OneHotEncoder(),[5]), ("Residence_type", OneHotEncoder(),[6]), ("smoking_status", OneHotEncoder(),[9])], remainder='passthrough')
X =pd.DataFrame(obj.fit_transform(X))
X

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,67.0,0,1,228.69,36.6
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,80.0,0,1,105.92,32.5
2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,49.0,0,0,171.23,34.4
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,79.0,1,0,174.12,24.0
4,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,81.0,0,0,186.21,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4976,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,41.0,0,0,70.15,29.8
4977,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,40.0,0,0,191.15,31.1
4978,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,45.0,1,0,95.02,31.8
4979,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,40.0,0,0,83.94,30.0
4980,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,80.0,1,0,83.75,29.1

# Splitting Data

In [575]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 0)

# Feature Salling

In [576]:


from sklearn.preprocessing import MinMaxScaler
s = MinMaxScaler()
X_train = s.fit_transform(X_train)
X_test = s.fit_transform(X_test)